@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.Blog-div{
    margin: 1.5rem 0;
    height: 100%;
    
}
.Blog-wrapper{
    width: 100%;
    padding: 1.5rem 0;
    text-align: left;
    margin: 1.5rem 0;
}
.Blog-wrapper .hr{
    width: 15%;
    margin-left: 3rem;
    background: linear-gradient(to right, #4e54c8 0%, #8f94fb 100%);
    height: 0.25rem;
}
.Blog-wrapper h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 3rem;
}
.card-wrapper{
    display: flex;
    flex-direction: row;
}

.card-wrapper {
  padding: 2%;
}

.card-wrapper .card{
  margin: 0.5rem auto;
}

.card {
  position:relative;
  height: 450px;
color: white;
  max-width: 30%;
  border-top: linear-gradient(to right, #4e54c8, #8f94fb);
 background-color: black;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 0px  5px 10px 2px #F5F5F5;
}

.image-wrapper {
  background-color: black;
  width: auto;
  object-fit: cover;
  height: 60%;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card img:hover {
 -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  transition: all 1s linear;
}

.text-box-wrapper {
 padding: 2px ;


}

.heading {
  font-family: 'Playfair-Display';
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  line-height: 1;
 
}

.heading::after {
  content: '';
  display: block;
  margin-top: 0.5em;
  width: 30px;
  height: 5px;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.text {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding: 0 0.25rem;
  overflow-y: hidden;
  text-align:left;
  padding-top: 10px;
  line-height: 2;
}
.button-wrapper{
    position: absolute;
    right: 2%;
    margin:0.5rem;
    bottom:0%;
    padding: 0.25rem 0;
}
.button {
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  display: inline;
  margin-left: 10px;
  padding: 5px 10px;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-decoration: none;
 
}

.button:hover {
  border:1px solid #4e54c8;
  background: white;
  color: #4e54c8;
  border-radius: 4px;
  transition: linear 0.2s;
}

@media only screen and (max-width:500px){
  .card-wrapper{
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
  }
  .card{
    min-width: 100%;
  }
 
  
}
